In [1]:
import pandas as pd
import requests
from sklearn import preprocessing

In [2]:
start = 50
end = 100

In [3]:
pd.set_option('display.max_rows', 500)

In [4]:
match_summary_df = pd.read_csv('../data/encoded_match_data.csv')

In [5]:
match_summary_df = match_summary_df[match_summary_df['league'] == 1][start:end]
len(match_summary_df)

37

In [6]:
match_summary_df.columns

Index(['league', 'format', 'game_in_format', 'red_team_outcome',
       'blue_team_outcome', 'season_format', 'riot_match_id', 'min_start_time',
       'month', 'day', 'year', 'red_team_id', 'blue_team_id', 'winner_id',
       'loser_id'],
      dtype='object')

In [7]:
match_summary_df.head(10)

,league,format,game_in_format,red_team_outcome,blue_team_outcome,season_format,riot_match_id,min_start_time,month,day,year,red_team_id,blue_team_id,winner_id,loser_id
292,1,0,1,0,1,1,111504634866275320,2024-03-02 22:00:00+00:00,3,2,2024,2151,2147,2147,2151
293,1,0,1,0,1,1,111504634866275332,2024-02-11 22:00:00+00:00,2,11,2024,2403,2149,2149,2403
294,1,0,1,0,1,1,111504634866209770,2024-02-11 21:00:00+00:00,2,11,2024,2147,2146,2146,2147
295,1,0,1,0,1,1,111504634866275336,2024-02-12 00:00:00+00:00,2,12,2024,2153,2151,2151,2153
296,1,0,1,0,1,1,111504634866209768,2024-02-11 23:00:00+00:00,2,11,2024,2155,2154,2154,2155
297,1,0,1,1,0,1,111504634866275330,2024-02-10 22:00:00+00:00,2,10,2024,2149,2153,2149,2153
298,1,0,1,1,0,1,111504634866275324,2024-02-10 21:00:00+00:00,2,10,2024,2147,2403,2147,2403
299,1,0,1,0,1,1,111504634866275316,2024-02-10 23:00:00+00:00,2,10,2024,2154,2146,2146,2154
300,1,0,1,0,1,1,111504634866209762,2024-02-11 00:00:00+00:00,2,11,2024,2151,2155,2155,2151
301,1,0,1,1,0,1,111504634866209750,2024-02-05 00:00:00+00:00,2,5,2024,2153,2403,2153,2403

In [8]:
columns=match_summary_df.columns.to_list()
columns.extend(['patch_version'])

for clr in ['blue','red']:
    columns.append(F"{clr}_team_id")
    for pos in ['top','jungle','mid','bot','supp']:
        col = F"{clr}_{pos}_player"
        columns.append(col)
        col = F"{clr}_{pos}_champ"
        columns.append(col)

columns.extend(['rfc460Timestamp'])
for clr in ['blue','red']:
    for info in ['total_gold','inhibitors','towers','barons','total_kills','ocean_drakes','cloud_drakes','mountain_drakes','chemtech_drakes','infernal_drakes','hextech_drakes','elder_drakes']:
        col = F"{clr}_team_{info}"
        columns.append(col)

    for pos in ['top','jungle','mid','bot','supp']:
        for info in ['total_gold','level','kills','deaths','assists','creep_score','current_health','max_health']:
            col = F"{clr}_{pos}_{info}"
            columns.append(col)

In [9]:
columns

['league',
 'format',
 'game_in_format',
 'red_team_outcome',
 'blue_team_outcome',
 'season_format',
 'riot_match_id',
 'min_start_time',
 'month',
 'day',
 'year',
 'red_team_id',
 'blue_team_id',
 'winner_id',
 'loser_id',
 'patch_version',
 'blue_team_id',
 'blue_top_player',
 'blue_top_champ',
 'blue_jungle_player',
 'blue_jungle_champ',
 'blue_mid_player',
 'blue_mid_champ',
 'blue_bot_player',
 'blue_bot_champ',
 'blue_supp_player',
 'blue_supp_champ',
 'red_team_id',
 'red_top_player',
 'red_top_champ',
 'red_jungle_player',
 'red_jungle_champ',
 'red_mid_player',
 'red_mid_champ',
 'red_bot_player',
 'red_bot_champ',
 'red_supp_player',
 'red_supp_champ',
 'rfc460Timestamp',
 'blue_team_total_gold',
 'blue_team_inhibitors',
 'blue_team_towers',
 'blue_team_barons',
 'blue_team_total_kills',
 'blue_team_ocean_drakes',
 'blue_team_cloud_drakes',
 'blue_team_mountain_drakes',
 'blue_team_chemtech_drakes',
 'blue_team_infernal_drakes',
 'blue_team_hextech_drakes',
 'blue_team_elder_drakes',
 'blue_top_total_gold',
 'blue_top_level',
 'blue_top_kills',
 'blue_top_deaths',
 'blue_top_assists',
 'blue_top_creep_score',
 'blue_top_current_health',
 'blue_top_max_health',
 'blue_jungle_total_gold',
 'blue_jungle_level',
 'blue_jungle_kills',
 'blue_jungle_deaths',
 'blue_jungle_assists',
 'blue_jungle_creep_score',
 'blue_jungle_current_health',
 'blue_jungle_max_health',
 'blue_mid_total_gold',
 'blue_mid_level',
 'blue_mid_kills',
 'blue_mid_deaths',
 'blue_mid_assists',
 'blue_mid_creep_score',
 'blue_mid_current_health',
 'blue_mid_max_health',
 'blue_bot_total_gold',
 'blue_bot_level',
 'blue_bot_kills',
 'blue_bot_deaths',
 'blue_bot_assists',
 'blue_bot_creep_score',
 'blue_bot_current_health',
 'blue_bot_max_health',
 'blue_supp_total_gold',
 'blue_supp_level',
 'blue_supp_kills',
 'blue_supp_deaths',
 'blue_supp_assists',
 'blue_supp_creep_score',
 'blue_supp_current_health',
 'blue_supp_max_health',
 'red_team_total_gold',
 'red_team_inhibitors',
 'red_team_towers',
 'red_team_barons',
 'red_team_total_kills',
 'red_team_ocean_drakes',
 'red_team_cloud_drakes',
 'red_team_mountain_drakes',
 'red_team_chemtech_drakes',
 'red_team_infernal_drakes',
 'red_team_hextech_drakes',
 'red_team_elder_drakes',
 'red_top_total_gold',
 'red_top_level',
 'red_top_kills',
 'red_top_deaths',
 'red_top_assists',
 'red_top_creep_score',
 'red_top_current_health',
 'red_top_max_health',
 'red_jungle_total_gold',
 'red_jungle_level',
 'red_jungle_kills',
 'red_jungle_deaths',
 'red_jungle_assists',
 'red_jungle_creep_score',
 'red_jungle_current_health',
 'red_jungle_max_health',
 'red_mid_total_gold',
 'red_mid_level',
 'red_mid_kills',
 'red_mid_deaths',
 'red_mid_assists',
 'red_mid_creep_score',
 'red_mid_current_health',
 'red_mid_max_health',
 'red_bot_total_gold',
 'red_bot_level',
 'red_bot_kills',
 'red_bot_deaths',
 'red_bot_assists',
 'red_bot_creep_score',
 'red_bot_current_health',
 'red_bot_max_health',
 'red_supp_total_gold',
 'red_supp_level',
 'red_supp_kills',
 'red_supp_deaths',
 'red_supp_assists',
 'red_supp_creep_score',
 'red_supp_current_health',
 'red_supp_max_health']

In [10]:
match_data_df = pd.DataFrame(columns=columns)

In [11]:
match_data_df

Empty DataFrame
Columns: [league, format, game_in_format, red_team_outcome, blue_team_outcome, season_format, riot_match_id, min_start_time, month, day, year, red_team_id, blue_team_id, winner_id, loser_id, patch_version, blue_team_id, blue_top_player, blue_top_champ, blue_jungle_player, blue_jungle_champ, blue_mid_player, blue_mid_champ, blue_bot_player, blue_bot_champ, blue_supp_player, blue_supp_champ, red_team_id, red_top_player, red_top_champ, red_jungle_player, red_jungle_champ, red_mid_player, red_mid_champ, red_bot_player, red_bot_champ, red_supp_player, red_supp_champ, rfc460Timestamp, blue_team_total_gold, blue_team_inhibitors, blue_team_towers, blue_team_barons, blue_team_total_kills, blue_team_ocean_drakes, blue_team_cloud_drakes, blue_team_mountain_drakes, blue_team_chemtech_drakes, blue_team_infernal_drakes, blue_team_hextech_drakes, blue_team_elder_drakes, blue_top_total_gold, blue_top_level, blue_top_kills, blue_top_deaths, blue_top_assists, blue_top_creep_score, blue_top_current_health, blue_top_max_health, blue_jungle_total_gold, blue_jungle_level, blue_jungle_kills, blue_jungle_deaths, blue_jungle_assists, blue_jungle_creep_score, blue_jungle_current_health, blue_jungle_max_health, blue_mid_total_gold, blue_mid_level, blue_mid_kills, blue_mid_deaths, blue_mid_assists, blue_mid_creep_score, blue_mid_current_health, blue_mid_max_health, blue_bot_total_gold, blue_bot_level, blue_bot_kills, blue_bot_deaths, blue_bot_assists, blue_bot_creep_score, blue_bot_current_health, blue_bot_max_health, blue_supp_total_gold, blue_supp_level, blue_supp_kills, blue_supp_deaths, blue_supp_assists, blue_supp_creep_score, blue_supp_current_health, blue_supp_max_health, red_team_total_gold, red_team_inhibitors, red_team_towers, red_team_barons, red_team_total_kills, red_team_ocean_drakes, red_team_cloud_drakes, red_team_mountain_drakes, red_team_chemtech_drakes, ...]
Index: []

[0 rows x 143 columns]

In [12]:
def extract_fixed_info(json_data):
    ret_data = dict()
    ret_data['patch_version'] = json_data['gameMetadata']['patchVersion']
    ret_data['blue_team_id'] = json_data['gameMetadata']['blueTeamMetadata']['esportsTeamId']
    for i,pos in enumerate(['top','jungle','mid','bot','supp']):

        ret_data[F'blue_{pos}_player'] = json_data['gameMetadata']['blueTeamMetadata']['participantMetadata'][i]['esportsPlayerId']
        ret_data[F'blue_{pos}_champ'] = json_data['gameMetadata']['blueTeamMetadata']['participantMetadata'][i]['championId']

    ret_data['red_team_id'] = json_data['gameMetadata']['redTeamMetadata']['esportsTeamId']
    for i,pos in enumerate(['top','jungle','mid','bot','supp']):

        ret_data[F'red_{pos}_player'] = json_data['gameMetadata']['redTeamMetadata']['participantMetadata'][i]['esportsPlayerId']
        ret_data[F'red_{pos}_champ'] = json_data['gameMetadata']['redTeamMetadata']['participantMetadata'][i]['championId']

    return ret_data

In [13]:
def encode_dragons(team,info):
    ret_data = dict()
    for drake in ['ocean_drakes','cloud_drakes','mountain_drakes','chemtech_drakes','infernal_drakes','hextech_drakes','elder_drakes']:
        ret_data[F"{team}_{drake}"] = 0
    for d in info:
        k = F"{team}_{d}_drakes"
        ret_data[k] = ret_data[k] + 1
    
    return ret_data

In [14]:
def extract_changing_info(json_data):
    ret_data = dict()
    # ret_data['rfc460Timestamp'] = json_data['rfc460Timestamp']
    for clr in ['blue','red']:
        ret_data[F'{clr}_team_total_gold'] = json_data[F'{clr}Team']['totalGold']
        ret_data[F'{clr}_team_inhibitors'] = json_data[F'{clr}Team']['inhibitors']
        ret_data[F'{clr}_team_towers'] = json_data[F'{clr}Team']['towers']
        ret_data[F'{clr}_team_barons'] = json_data[F'{clr}Team']['barons']
        ret_data[F'{clr}_team_total_kills'] = json_data[F'{clr}Team']['totalKills']
        ret_data.update(encode_dragons(F'{clr}_team',json_data[F'{clr}Team']['dragons']))

        for i,pos in enumerate(['top','jungle','mid','bot','supp']):
            ret_data[F'{clr}_{pos}_total_gold'] = json_data[F'{clr}Team']['participants'][i]['totalGold']
            ret_data[F'{clr}_{pos}_level'] = json_data[F'{clr}Team']['participants'][i]['level']
            ret_data[F'{clr}_{pos}_kills'] = json_data[F'{clr}Team']['participants'][i]['kills']
            ret_data[F'{clr}_{pos}_deaths'] = json_data[F'{clr}Team']['participants'][i]['deaths']
            ret_data[F'{clr}_{pos}_assists'] = json_data[F'{clr}Team']['participants'][i]['assists']
            ret_data[F'{clr}_{pos}_creep_score'] = json_data[F'{clr}Team']['participants'][i]['creepScore']
            ret_data[F'{clr}_{pos}_current_health'] = json_data[F'{clr}Team']['participants'][i]['currentHealth']
            ret_data[F'{clr}_{pos}_max_health'] = json_data[F'{clr}Team']['participants'][i]['maxHealth']


    return ret_data

In [15]:
BASE_URL = 'https://feed.lolesports.com/livestats/v1/window/{}?startingTime={}'

In [16]:
def format_time(t,time_delta):
    conv_time = pd.to_datetime(t) + pd.to_timedelta(time_delta, unit='s')
    conv_time = conv_time.round('10s')
    return "{}T{}.000Z".format(str(conv_time.date()),str(conv_time.time()))

In [17]:
time_delta = 60
temp_list = []

for index, row in match_summary_df.iterrows():
    print(index)
    print(row)
    game_state = "in_game"
    fixed_info = None
    time_elapsed = 0

    while game_state == "in_game":

        url = BASE_URL.format(row['riot_match_id'],format_time(row['min_start_time'],time_elapsed))
        raw_data = requests.get(url)

        time_elapsed = time_elapsed + time_delta
        if raw_data.status_code == 204: # No content returned
            continue

        data = raw_data.json()
        if fixed_info == None:
            fixed_info = extract_fixed_info(data)

        prev_frame = data['frames'][0]
        for frame in data['frames'][1:]:
            delta_info = extract_changing_info(frame)
            if delta_info == prev_frame:
                continue
            delta_info.update(fixed_info)
            delta_info['rfc460Timestamp'] = frame['rfc460Timestamp']
            delta_info.update(row)
            temp_list.append(delta_info)
            prev_frame = delta_info


        game_state = data['frames'][-1]['gameState']

292
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             0
blue_team_outcome                            1
season_format                                1
riot_match_id               111504634866275320
min_start_time       2024-03-02 22:00:00+00:00
month                                        3
day                                          2
year                                      2024
red_team_id                               2151
blue_team_id                              2147
winner_id                                 2147
loser_id                                  2151
Name: 292, dtype: object
293
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             0
blue_team_outcome                            1
season_format                                1
riot_match_id               111504634866275332
min_start_time       2024-02-11 22:00:00+00:00
month                                        2
day                                         11
year                                      2024
red_team_id                               2403
blue_team_id                              2149
winner_id                                 2149
loser_id                                  2403
Name: 293, dtype: object
294
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             0
blue_team_outcome                            1
season_format                                1
riot_match_id               111504634866209770
min_start_time       2024-02-11 21:00:00+00:00
month                                        2
day                                         11
year                                      2024
red_team_id                               2147
blue_team_id                              2146
winner_id                                 2146
loser_id                                  2147
Name: 294, dtype: object
295
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             0
blue_team_outcome                            1
season_format                                1
riot_match_id               111504634866275336
min_start_time       2024-02-12 00:00:00+00:00
month                                        2
day                                         12
year                                      2024
red_team_id                               2153
blue_team_id                              2151
winner_id                                 2151
loser_id                                  2153
Name: 295, dtype: object
296
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             0
blue_team_outcome                            1
season_format                                1
riot_match_id               111504634866209768
min_start_time       2024-02-11 23:00:00+00:00
month                                        2
day                                         11
year                                      2024
red_team_id                               2155
blue_team_id                              2154
winner_id                                 2154
loser_id                                  2155
Name: 296, dtype: object
297
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             1
blue_team_outcome                            0
season_format                                1
riot_match_id               111504634866275330
min_start_time       2024-02-10 22:00:00+00:00
month                                        2
day                                         10
year                                      2024
red_team_id                               2149
blue_team_id                              2153
winner_id                                 2149
loser_id                                  2153
Name: 297, dtype: object
298
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             1
blue_team_outcome                            0
season_format                                1
riot_match_id               111504634866275324
min_start_time       2024-02-10 21:00:00+00:00
month                                        2
day                                         10
year                                      2024
red_team_id                               2147
blue_team_id                              2403
winner_id                                 2147
loser_id                                  2403
Name: 298, dtype: object
299
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             0
blue_team_outcome                            1
season_format                                1
riot_match_id               111504634866275316
min_start_time       2024-02-10 23:00:00+00:00
month                                        2
day                                         10
year                                      2024
red_team_id                               2154
blue_team_id                              2146
winner_id                                 2146
loser_id                                  2154
Name: 299, dtype: object
300
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             0
blue_team_outcome                            1
season_format                                1
riot_match_id               111504634866209762
min_start_time       2024-02-11 00:00:00+00:00
month                                        2
day                                         11
year                                      2024
red_team_id                               2151
blue_team_id                              2155
winner_id                                 2155
loser_id                                  2151
Name: 300, dtype: object
301
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             1
blue_team_outcome                            0
season_format                                1
riot_match_id               111504634866209750
min_start_time       2024-02-05 00:00:00+00:00
month                                        2
day                                          5
year                                      2024
red_team_id                               2153
blue_team_id                              2403
winner_id                                 2153
loser_id                                  2403
Name: 301, dtype: object
302
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             1
blue_team_outcome                            0
season_format                                1
riot_match_id               111504634866078628
min_start_time       2024-02-04 23:00:00+00:00
month                                        2
day                                          4
year                                      2024
red_team_id                               2146
blue_team_id                              2155
winner_id                                 2146
loser_id                                  2155
Name: 302, dtype: object
303
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             0
blue_team_outcome                            1
season_format                                1
riot_match_id               111504634866209734
min_start_time       2024-02-04 22:00:00+00:00
month                                        2
day                                          4
year                                      2024
red_team_id                               2147
blue_team_id                              2154
winner_id                                 2154
loser_id                                  2147
Name: 303, dtype: object
304
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             1
blue_team_outcome                            0
season_format                                1
riot_match_id               111504634866209736
min_start_time       2024-02-04 21:00:00+00:00
month                                        2
day                                          4
year                                      2024
red_team_id                               2151
blue_team_id                              2149
winner_id                                 2151
loser_id                                  2149
Name: 304, dtype: object
305
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             1
blue_team_outcome                            0
season_format                                1
riot_match_id               111504634866209710
min_start_time       2024-02-04 00:00:00+00:00
month                                        2
day                                          4
year                                      2024
red_team_id                               2155
blue_team_id                              2403
winner_id                                 2155
loser_id                                  2403
Name: 305, dtype: object
306
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             1
blue_team_outcome                            0
season_format                                1
riot_match_id               111504634866209720
min_start_time       2024-02-03 23:00:00+00:00
month                                        2
day                                          3
year                                      2024
red_team_id                               2146
blue_team_id                              2153
winner_id                                 2146
loser_id                                  2153
Name: 306, dtype: object
307
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             0
blue_team_outcome                            1
season_format                                1
riot_match_id               111504634866209728
min_start_time       2024-02-03 22:00:00+00:00
month                                        2
day                                          3
year                                      2024
red_team_id                               2147
blue_team_id                              2151
winner_id                                 2151
loser_id                                  2147
Name: 307, dtype: object
308
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             1
blue_team_outcome                            0
season_format                                1
riot_match_id               111504634866209742
min_start_time       2024-02-03 21:00:00+00:00
month                                        2
day                                          3
year                                      2024
red_team_id                               2154
blue_team_id                              2149
winner_id                                 2154
loser_id                                  2149
Name: 308, dtype: object
309
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             1
blue_team_outcome                            0
season_format                                1
riot_match_id               111504634866209718
min_start_time       2024-02-03 00:00:00+00:00
month                                        2
day                                          3
year                                      2024
red_team_id                               2151
blue_team_id                              2146
winner_id                                 2151
loser_id                                  2146
Name: 309, dtype: object
310
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             1
blue_team_outcome                            0
season_format                                1
riot_match_id               111504634866144168
min_start_time       2024-02-02 23:00:00+00:00
month                                        2
day                                          2
year                                      2024
red_team_id                               2149
blue_team_id                              2155
winner_id                                 2149
loser_id                                  2155
Name: 310, dtype: object
311
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             1
blue_team_outcome                            0
season_format                                1
riot_match_id               111504634866209754
min_start_time       2024-02-02 22:00:00+00:00
month                                        2
day                                          2
year                                      2024
red_team_id                               2403
blue_team_id                              2154
winner_id                                 2403
loser_id                                  2154
Name: 311, dtype: object
312
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             1
blue_team_outcome                            0
season_format                                1
riot_match_id               111504634866209730
min_start_time       2024-02-02 21:00:00+00:00
month                                        2
day                                          2
year                                      2024
red_team_id                               2153
blue_team_id                              2147
winner_id                                 2153
loser_id                                  2147
Name: 312, dtype: object
313
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             0
blue_team_outcome                            1
season_format                                1
riot_match_id               111504634866209752
min_start_time       2024-01-28 23:00:00+00:00
month                                        1
day                                         28
year                                      2024
red_team_id                               2153
blue_team_id                              2154
winner_id                                 2154
loser_id                                  2153
Name: 313, dtype: object
314
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             0
blue_team_outcome                            1
season_format                                1
riot_match_id               111504634866209746
min_start_time       2024-01-28 22:00:00+00:00
month                                        1
day                                         28
year                                      2024
red_team_id                               2151
blue_team_id                              2403
winner_id                                 2403
loser_id                                  2151
Name: 314, dtype: object
315
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             0
blue_team_outcome                            1
season_format                                1
riot_match_id               111504634866144166
min_start_time       2024-01-28 21:00:00+00:00
month                                        1
day                                         28
year                                      2024
red_team_id                               2147
blue_team_id                              2155
winner_id                                 2155
loser_id                                  2147
Name: 315, dtype: object
316
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             1
blue_team_outcome                            0
season_format                                1
riot_match_id               111504634866209716
min_start_time       2024-01-28 20:00:00+00:00
month                                        1
day                                         28
year                                      2024
red_team_id                               2146
blue_team_id                              2149
winner_id                                 2146
loser_id                                  2149
Name: 316, dtype: object
317
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             0
blue_team_outcome                            1
season_format                                1
riot_match_id               111504634866209708
min_start_time       2024-01-27 23:00:00+00:00
month                                        1
day                                         27
year                                      2024
red_team_id                               2155
blue_team_id                              2153
winner_id                                 2153
loser_id                                  2155
Name: 317, dtype: object
318
league                                       1
format                                       0
game_in_format                               1
red_team_outcome                             0
blue_team_outcome                            1
season_format                                1
riot_match_id               111504634866209748
min_start_time       2024-01-27 22:00:00+00:00
month                                        1
day                                         27
year                                      2024
red_team_id                               2154
blue_team_id                              2151
winner_id                                 2151
loser_id                                  2154
Name: 318, dtype: object
319
league                                       1
format                                       0
game_in_format                               1

In [18]:
match_data_df = pd.DataFrame.from_dict(temp_list)

In [19]:
match_data_df.head()

,blue_team_total_gold,blue_team_inhibitors,blue_team_towers,blue_team_barons,blue_team_total_kills,blue_team_ocean_drakes,blue_team_cloud_drakes,blue_team_mountain_drakes,blue_team_chemtech_drakes,blue_team_infernal_drakes,...,red_team_outcome,blue_team_outcome,season_format,riot_match_id,min_start_time,month,day,year,winner_id,loser_id
0,0,0,0,0,0,0,0,0,0,0,...,0,1,1,111504634866275320,2024-03-02 22:00:00+00:00,3,2,2024,2147,2151
1,0,0,0,0,0,0,0,0,0,0,...,0,1,1,111504634866275320,2024-03-02 22:00:00+00:00,3,2,2024,2147,2151
2,0,0,0,0,0,0,0,0,0,0,...,0,1,1,111504634866275320,2024-03-02 22:00:00+00:00,3,2,2024,2147,2151
3,0,0,0,0,0,0,0,0,0,0,...,0,1,1,111504634866275320,2024-03-02 22:00:00+00:00,3,2,2024,2147,2151
4,0,0,0,0,0,0,0,0,0,0,...,0,1,1,111504634866275320,2024-03-02 22:00:00+00:00,3,2,2024,2147,2151

In [20]:
match_data_df.to_csv(F'../data/match_time_data_LCS_{start}_{end}.csv',index=False)