In [14]:
import pandas as pd
from sklearn import preprocessing

In [20]:
match_summary_df = pd.read_csv('../data/MATCH_SUMMARY_2024.csv')
match_summary_df = match_summary_df.loc[:, match_summary_df.columns != 'mvp']

In [12]:
match_summary_df.isnull().values.any()

False

In [15]:
match_summary_df.head()

,gol_game_num,league,season,year,date,week,patch,format,game_in_format,game_length(min),game_length(s),red_team,blue_team,red_team_outcome,blue_team_outcome,winner,season_format,loser
0,57867,LPL,SPRING,2024,2024-04-20,FINALS,14.6,BO5,1,43:17,2597,Top Esports,Bilibili Gaming,LOSS,WIN,Bilibili Gaming,PLAYOFFS,Top Esports
1,57868,LPL,SPRING,2024,2024-04-20,FINALS,14.6,BO5,2,23:12,1392,Bilibili Gaming,Top Esports,WIN,LOSS,Bilibili Gaming,PLAYOFFS,Top Esports
2,57869,LPL,SPRING,2024,2024-04-20,FINALS,14.6,BO5,3,36:43,2203,Bilibili Gaming,Top Esports,LOSS,WIN,Top Esports,PLAYOFFS,Bilibili Gaming
3,57870,LPL,SPRING,2024,2024-04-20,FINALS,14.6,BO5,4,32:40,1960,Top Esports,Bilibili Gaming,LOSS,WIN,Bilibili Gaming,PLAYOFFS,Top Esports
4,57844,LPL,SPRING,2024,2024-04-14,SEMIFINALS,14.6,BO5,1,29:34,1774,JD Gaming,Top Esports,LOSS,WIN,Top Esports,PLAYOFFS,JD Gaming

In [16]:
label_encoder = preprocessing.LabelEncoder()

In [21]:
match_summary_df['league']= label_encoder.fit_transform(match_summary_df['league']) 
match_summary_df['season']= label_encoder.fit_transform(match_summary_df['season']) 
match_summary_df['week']= label_encoder.fit_transform(match_summary_df['week']) 
match_summary_df['format']= label_encoder.fit_transform(match_summary_df['format']) 
match_summary_df['red_team_outcome']= label_encoder.fit_transform(match_summary_df['red_team_outcome']) 
match_summary_df['blue_team_outcome']= label_encoder.fit_transform(match_summary_df['blue_team_outcome']) 
match_summary_df['season_format']= label_encoder.fit_transform(match_summary_df['season_format'])

In [22]:
match_summary_df.head()

,gol_game_num,league,season,year,date,week,patch,format,game_in_format,game_length(min),game_length(s),red_team,blue_team,red_team_outcome,blue_team_outcome,winner,season_format,loser
0,57867,3,0,2024,2024-04-20,0,14.6,2,1,43:17,2597,Top Esports,Bilibili Gaming,0,1,Bilibili Gaming,0,Top Esports
1,57868,3,0,2024,2024-04-20,0,14.6,2,2,23:12,1392,Bilibili Gaming,Top Esports,1,0,Bilibili Gaming,0,Top Esports
2,57869,3,0,2024,2024-04-20,0,14.6,2,3,36:43,2203,Bilibili Gaming,Top Esports,0,1,Top Esports,0,Bilibili Gaming
3,57870,3,0,2024,2024-04-20,0,14.6,2,4,32:40,1960,Top Esports,Bilibili Gaming,0,1,Bilibili Gaming,0,Top Esports
4,57844,3,0,2024,2024-04-14,5,14.6,2,1,29:34,1774,JD Gaming,Top Esports,0,1,Top Esports,0,JD Gaming

In [24]:
team_info_df = pd.read_csv('../data/general_data/S14_GENERAL_TEAM_INFO.csv')

In [26]:
team_info_df.head()

,team_id,Name,Season,Region,Games,Win rate,K:D,GPM,GDM,Game duration,...,TD@15,GD@15,PPG,NASHPG,NASH%,CSM,DPM,WPM,VWPM,WCPM
0,2146,100 Thieves,S14,NaN,26,53.8%,0.96,1842,-4,32:42,...,-0.2,-544,2.62,0.73,48.7,32.9,2591,3.2,1.19,1.63
1,2407,A One Man Army,S14,BE,30,56.7%,1.08,1846,35,32:26,...,0.1,239,3.76,0.67,55.8,31.0,2390,2.9,0.71,1.32
2,2229,Aegis,S14,FR,18,16.7%,0.60,1679,-240,32:51,...,-0.4,-1767,2.39,0.17,14.7,32.3,2196,3.6,1.14,1.49
3,2231,Akroma,S14,FR,18,27.8%,0.63,1709,-193,30:52,...,-0.3,-1316,2.44,0.39,33.3,31.5,2004,3.4,1.01,1.40
4,2397,All for One Gaming,S14,DE,18,38.9%,0.93,1838,-63,32:03,...,0.1,-486,4.44,0.50,43.5,31.5,2404,3.3,0.86,1.15

In [32]:
team_info_df[team_info_df['team_id'].duplicated(keep=False)]

Empty DataFrame
Columns: [team_id, Name, Season, Region, Games, Win rate, K:D, GPM, GDM, Game duration, Kills / game, Deaths / game, Towers killed, Towers lost, FB%, FT%, DRAPG, DRA%, VGPG, HERPG, HER%, DRA@15, TD@15, GD@15, PPG, NASHPG, NASH%, CSM, DPM, WPM, VWPM, WCPM]
Index: []

[0 rows x 32 columns]

In [49]:
len(match_summary_df)

877

In [ ]:
req_columns.extend

In [83]:
req_columns = list(match_summary_df.columns)
req_columns.append('team_id')
merged_df = pd.merge(match_summary_df,team_info_df,how='left',left_on='red_team',right_on='Name')[req_columns].rename(columns = {'team_id':'red_team_id'})
req_columns.append('red_team_id')
merged_df = pd.merge(merged_df,team_info_df,how='left',left_on='blue_team',right_on='Name')[req_columns].rename(columns = {'team_id':'blue_team_id'})
req_columns.append('blue_team_id')
merged_df = pd.merge(merged_df,team_info_df,how='left',left_on='winner',right_on='Name')[req_columns].rename(columns = {'team_id':'winner_id'})
req_columns.append('winner_id')
merged_df = pd.merge(merged_df,team_info_df,how='left',left_on='loser',right_on='Name')[req_columns].rename(columns = {'team_id':'loser_id'})
req_columns.append('loser_id')

match_summary_df = merged_df