In [1]:
import json
import pandas as pd

In [2]:
patch = '1451'
file = open(F'./data/dataSources{patch}/items.json')
data = json.load(file)

In [3]:
columns = ['name','lol_number','into','from','cost','purchasable','sell','consumed','in_store','consumeOnFull','requiredChampion','requiredAlly']
item_df = pd.DataFrame(columns=columns)
item_df.columns

Index(['name', 'lol_number', 'into', 'from', 'cost', 'purchasable', 'sell',
       'consumed', 'in_store', 'consumeOnFull', 'requiredChampion',
       'requiredAlly'],
      dtype='object')

In [4]:
for item in data['data']:
    item_data = data['data'][item]
    
    if item_data['name'] in item_df['name'].unique():
        continue

    new_item = dict()
    new_item['name'] = item_data['name']
    new_item['lol_number'] = item
    
    if 'into' in item_data:
        new_item['into'] = item_data['into']
    else:
        new_item['into'] = ''

    if 'from' in item_data:
        new_item['from'] = item_data['from']
    else:
        new_item['from'] = ''

    new_item['cost'] = item_data['gold']['total']
    new_item['purchasable'] = item_data['gold']['purchasable']
    new_item['sell'] = item_data['gold']['sell']

    if 'consumed' in item_data:
        new_item['consumed'] = item_data['consumed']
    else:
        new_item['consumed'] = False

    if 'inStore' in item_data:
        new_item['in_store'] = item_data['inStore']
    else:
        new_item['in_store'] = True

    if 'consumeOnFull' in item_data:
        new_item['consumeOnFull'] = item_data['consumeOnFull']
    else:
        new_item['consumeOnFull'] = False
    
    if 'requiredChampion' in item_data:
        new_item['requiredChampion'] = item_data['requiredChampion']
    else:
        new_item['requiredChampion'] = ''

    if 'requiredAlly' in item_data:
        new_item['requiredAlly'] = item_data['requiredAlly']
    else:
        new_item['requiredAlly'] = ''


    item_df = pd.concat([item_df, pd.DataFrame([new_item])], ignore_index=True)

In [5]:
item_df

,name,lol_number,into,from,cost,purchasable,sell,consumed,in_store,consumeOnFull,requiredChampion,requiredAlly
0,Boots,1001,"[3005, 3047, 3117, 3006, 3009, 3020, 3111, 3158]",,300,True,210,False,True,False,,
1,Faerie Charm,1004,"[3114, 4642, 3012]",,250,True,175,False,True,False,,
2,Rejuvenation Bead,1006,[3801],,300,True,120,False,True,False,,
3,Giant's Belt,1011,"[4637, 3084, 8001, 3075, 3083, 3116, 3143, 6667]",[1028],900,True,630,False,True,False,,
4,Cloak of Agility,1018,"[3031, 6672, 3086, 6676, 3033, 3087, 3036, 350...",,600,True,420,False,True,False,,
...,...,...,...,...,...,...,...,...,...,...,...,...
340,Wooglet's Witchcap,228002,,,6000,True,4200,False,True,False,,
341,Deathblade,228003,,,9000,False,6300,False,False,False,,
342,Adaptive Helm,228004,,,6000,False,4200,False,False,False,,
343,Sanguine Blade,228006,,,3000,False,2100,False,False,False,,
344,Runeglaive,228008,,,9000,False,6300,False,False,False,,

In [6]:
item_df.to_csv('./data/gameData1451//items.csv')